img {
    display: block;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 48pt;
    font-weight: 700;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36pt;
    font-weight: 400;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30pt;
    font-weight: 900;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24pt;
    font-weight: 900;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    font-weight: 400;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    font-weight: 900;
}

.header {
    background-color: black;
}

.logo_menu {
    margin: 0 211px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 75px;
    margin-left: -52px;
    object-fit: contain;
}

.menu {
    width: 45%;
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.element {
    width: 20%;
    height: 75px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition-duration: 0.75s;

}

.element:hover {
    background-color: #EC7979;
}

.element a {
    text-decoration: none;
    color: #FFF;
}

.element a:hover {
    height: 75px;
    text-decoration: none;
    color: #aeacac;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}


/* start__Styles for tablet 1024px and mobile 320px - - - - - - - - - - - - - - - - - -  */  
@media screen and (max-width: 1024px) {

    .logo {
        margin-left: 0;
    }

    .logo_menu {
        margin: 0px 20px 0px 116px;
    }

    .menu {
        width: 56%;
    }

}

@media screen and (max-width: 320px) {

    .header {
        width: 100%;
        /* height: 574px; */
        background-color: black;
        align-items: center;
    }
    
    .logo_menu {
        margin: 0 auto;
        width: 280px;
        display: flex;
        flex-direction: column;
    }
    
    .logo {
        width: 280px;
        height: 56px;
        margin-bottom: 10px;
        object-fit: contain;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        height: 335px;
    }
    
    .element {
        width: 280px;
        height: 67px;
    }

    .element a:hover {
        height: 67px;
    }

}
/* end__Styles for tablet 1024px and mobile 320px - - - - - - - - - - - - - - - - - -  */
